bandit==1.8.6
blinker==1.9.0
boolean.py==5.0
CacheControl==0.14.3
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.0
colorama==0.4.6
cryptography==46.0.3
cyclonedx-python-lib==9.1.0
defusedxml==0.7.1
filelock==3.20.0
Flask==3.1.2
flask-talisman==1.1.0
idna==3.11
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
license-expression==30.4.4
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
msgpack==1.1.2
packageurl-python==0.17.5
packaging==25.0
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.9.0
platformdirs==4.5.0
pluggy==1.6.0
portalocker==3.2.0
py-serializable==2.1.0
pycparser==2.23
Pygments==2.19.2
PyNaCl==1.6.0
pyparsing==3.2.5
pytest==8.4.2
pywin32==311
PyYAML==6.0.3
requests==2.32.5
rich==14.2.0
sortedcontainers==2.4.0
stevedore==5.5.0
toml==0.10.2
urllib3==2.5.0
Werkzeug==3.1.3
